.input-field {
    border: 1px solid #c0c0c0;
    border-radius: 25px;
    height: 40px;

}


.text-color {
    color: #3b4d61;
}

// .input-area {
//     border: none;
//     background-color: rgb(86, 24, 24);
//     color: white;
// }
input {
    border: none;
    background-color: rgb(86, 24, 24);
    color: white;
}
.input-area:focus {
    outline: none;
}

.mute-color {
    color: #8b8b8b;
}

.sizing {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.togglerColor {
    color: white !important;
}